:root {
  --bg: #282828;
  --fg0: #fbf1c7;
  --orange: #d65d0e;
  --orange2: #fe8019;
  --blue: #458588;
  --blue2: #83a598;
  --green: #98971a;
  --green2: #b8bb26;
  --yellow: #d79921;
  --gray: #a89984;
}
body {
	font-family: sans-serif ;
	background: var(--bg) ;
	color:  var(--fg0);
}

main {
	max-width: 1200px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
	color: var(--orange);
}

h2 {
	text-align: left ;
	color: var(--orange2);
}

h3 {
	text-align: left ;
	color: var(--green);
}

h4 {
	text-align: left ;
	color: var(--green2);
}

h5 {
	text-align: left ;
	color: var(--yellow);
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}

.column {
  float: left;
  width: 50%;
}

a:link {
color: var(--blue);
text-decoration: none;
}

a:visited {
color: var(--gray);
text-decoration: none;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

table, th, td {
  border: 1px solid;
  padding: 10px;
  text-align: left;
}
table {
  width: 100%;
  border-collapse: collapse;
}

ul {
  margin: 0; /* Remove margin around the entire list */
  padding: 1; /* Remove padding around the entire list */
}

li {
  margin-bottom: 0em; /* Adjust spacing between items */
  padding: 0; /* Ensure no padding inside list items */
}

svg {
  width: 40px;
  height: 40px;
  margin: 10px;
  fill: var(--bg); /* Change the color */
  stroke: var(--fg0);
}

.feather-rss {
    width: 20px;
    height: 20px;
    vertical-align: middle;
	stroke: var(--blue2);
}
